.container {
  display:flex;
}

.image-container {
  opacity: 90%;
}

.active {

}

nav {
  flex-direction: row;
}

.navbar-fixed-top {
  flex-direction: row;

}

/*nav img .mobile {
  display: none;
}*/

.jumbotron-bike {
  background-image: url(../images/jumbotron-bike.jpg);
}

h1 {
  text-shadow: 1px 1px 2px black;
  font-family:'Monoton', sans-serif; 
}

p {
  text-shadow: 1px 1px 2px black;
}

img .feature {
  width: 50%;
  /*image 100% on mobile*/
}

.documentary, .projects {
  width: 25%;
  /*image 50% on mobile*/
}

.project {
  display: flex;
  width: 30%;
  /*100% on smaller screen*/
}

.container.project {
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;
  width: 30%;
  /*mobile width 100%*/
}

button {
  background-color: blue;
  color: white;
  padding: 8px;
}
